* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white
  
}

a {
  text-decoration: none;
  transition: .5s;
  color: white;
}

a:hover {
 color: #1d405e;
}
